*.csproj.user
*.suo
/src/*/bin/
/src/*/obj/
/src/packages/*/lib
/src/.vs/electrifier
/src/electrifier.Core/.vs/electrifier.Core.csproj.dtbcache.json
/src/electrifier/.vs/electrifier.csproj.dtbcache.json
/src/EntityLighter/.vs/EntityLighter.csproj.dtbcache.json
